<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-siteapp"><!-- 百度禁止转码 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="apple-mobile-web-app-title" content=""><!-- 添加到主屏后的标题 -->
		<meta content="yes" name="apple-mobile-web-app-capable" /><!-- 是否启用 WebApp 全屏模-->
		<meta content="black" name="apple-mobile-web-app-status-bar-style" /><!-- 设置状态栏的背景颜色 -->
		<meta content="telephone=no,email=no" name="format-detection" /><!-- 禁止数字识自动别为电话号码  -->
		<meta name="theme-color" content="#db5945"><!-- android中用来控制选项卡的颜色 -->
		<meta name="msapplication-TileColor" content="#000"/> <!-- Windows 8 磁贴颜色 -->
		<meta name="msapplication-TileImage" content="icon.png"/> <!-- Windows 8 磁贴图标 -->
		<!-- <link rel="shortcut icon" type="image/ico" href="/favicon.ico" /> -->
		<meta name="google" value="notranslate" /><!-- 关闭chrome浏览器下翻译插件 -->
		<!-- 页面描述 -->
	    <meta name="description" content="不超过150个字符"/>
	    <!-- 页面关键词 -->
	    <meta name="keywords" content=""/>
	    <!-- 网页作者 -->
	    <meta name="author" content="jinxiao, 315232021@163.com"/>
	    <!-- 搜索引擎抓取 -->
	    <meta name="robots" content="index,follow"/>
		<title>提现</title>
		<link rel="stylesheet" href="/style/normalize.css">
		<link rel="stylesheet" href="/style/normal/cash.css">
		<link rel="stylesheet" href="/style/normal/footer.css">
	</head>
	<body>
		<!-- loading -->
		<div id="myloading" class="loading">
			<!-- <img src="/weixin/images/loading3.gif" alt="" width="100"/> -->
		</div>

		<div class="container">
			<!-- content start-->
			<div class="content">
				<p>提现说明：</p>
				<p>输入提现金额，点击确认提交申请，加群主(群成员排名第一个)私聊通知。</p>
				<p>提现时间:9:00-02:00</p>
				<p class="link"><a href="javascript:void(0)">点击链接添加值班财务提现!</a></p>
				<p><span>账号余额:</span><em>3.4</em>元</p>
				<p>每天可以提现<em>5</em>次，今日已提现<em>0</em>次,还可以提现<em>5</em>次。</p>
				<p><span>提现金额:</span><input type="text" value="" placeholder="请输入金额" id="money"><a href="javascript:void(0);" id="confirm">确认</a></p>	
			</div>
			
			<!-- content end-->

			<p class="table-title">最近24小时提现记录</p>
			<div class="list">
				<table>
					<thead>
						<tr>
							<td>提现金额</td>
							<td>提现状态</td>
							<td>提现时间</td>
						</tr>
					</thead>
					<tbody id="tbody">
						<tr>
							<td>100</td>
							<td>已提</td>
							<td>2017-01-02</td>
						</tr>
						<tr>
							<td>100</td>
							<td>未提</td>
							<td>2017-01-02</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		<!-- footer start -->
		<div id="footer"></div>
		<!-- footer end -->
		<script src="/widget/util/JInit.js"></script>
		<script src="/static/lib/require.js"></script>
		<script src="/static/main.js"></script>
		<script src="/widget/init/initCash.js"></script>
	</body>
</html>