<ul>
	<li class="index"><a href="/index.html"><i class="iconfont">&#xe600;</i><span>商城首页</span></a></li>
	<li class="niuniu"><a href="/views/niuniu.html"><i class="iconfont">&#xe604;</i><span>牛牛</span></a></li>
	<li class="sc"><a href="/views/saiche.html"><i class="iconfont">&#xe601;</i><span>赛车</span></a></li>
	<li class="cq"><a href="/views/cq.html"><i class="iconfont">&#xe602;</i><span>重庆彩</span></a></li>
	<li class="ft"><a href="/views/feiting.html"><i class="iconfont">&#xe603;</i><span>飞艇</span></a></li>
</ul>