#footer_line{
	position: fixed; 
	z-index: 1;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 60px;
	overflow: hidden;
	border-top: 1px solid #dedede;
}
#footer_line ul{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
#footer_line li{
	display: inline-block;
	float: left;
	width: 3.2rem;
	height: 60px;
	background-color: #f2f2f2;
	font-size: 0.5rem;
}
#footer_line li.selected a{
	color: #f00;
	background-color: #fff;
}
#footer_line a{
	display: inline-block;
	width: 3.2rem;
	height: 60px;
	position: relative;
}

#footer_line a:link{
	color: #666;
}
#footer_line a:visited{
	color: #666;
}
#footer_line a:active{
	color: #666;
}
#footer_line a:focus{
	color: #666;
}
#footer_line i{
	margin-top: 6px;
	font-size: 1.2rem;
	display: inline-block;
}
#footer_line span{
	width: 3.2rem;
	display: inline-block;
}